<a href="https://colab.research.google.com/github/omarcueto1304/Python-Practice/blob/master/practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''You want to calculate the distance traveled (m) by a mobile
which has constant velocity (m/s) for a time t (s),
consider that it is an MRU (Uniform Rectilinear Motion).'''

time=float(input('Enter the seconds: '))
velocity=float(input('enter speed in s/s: ' ))

Distance=time*velocity

print('la distancia es: ',Distance)

Enter the seconds: 5
enter speed in s/s: 5
la distancia es:  25.0

In [ ]:
'''
Exercise 2.
It is necessary to obtain the simple average of a student from his three partial marks N1, N2 and N3.'''

nota1=int(input('Enter the 1th number: '))
nota2=int(input('Enter the 2th number: '))
nota3=int(input('Enter the 3th number: '))

average=(nota1+nota2+nota3)/3

print('The average is: ',average)

Enter the 1th number: 15
Enter the 2th number: 5
Enter the 3th number: 85
The average is:  35.0

In [ ]:
'''Exercise 3.
It is necessary to develop an algorithm that requests the number of correct, 
incorrect and blank answers, corresponding to applicants, 
and shows their final score considering that for each correct answer they will have 3 points, 
incorrect answers will have -1 and blank answers will have 0.'''

CA=int(input('Enter the correct answers: '))
IA=int(input('Enter the incorrect answers: '))
BA=int(input('Enter the blanck answers: '))

FS=CA*3-IA+BA*0
print('the final score is: ',FS )

Enter the correct answers: 50
Enter the incorrect answers: 25
Enter the blanck answers: 25
the final scor is:  125

In [ ]:
switcher={
    1:'Ene',
    2:'Feb',
    3:'Mar',
    4:'Abr',
    5:'May',
    6:'Jun',
    7:'Jul',
    8:'Ago',
    9:'Sep',
    10:'Oct',
    11:'Nov',
    12:'Dic'
}

argument=int(input('Enter the number of the month: '))

month=switcher.get(argument,'Invalidate month')

print(month)

Enter the number of the month: 5
May

In [ ]:
'''
Exercise .
It is necessary to obtain the simple average of a student from his three partial marks N1, N2 and N3.
Build a flowchart, such that given a student's grade as data, write "approved" in case that grade is greater than 10.'''

nota1=int(input('Enter the 1th number: '))
nota2=int(input('Enter the 2th number: '))
nota3=int(input('Enter the 3th number: '))

average=(nota1+nota2+nota3)/3

print('The average is: ',average)
if average<11:
  print('DESAPROBADO')
elif average<21 and average>10:
  print('APROBADO')
else:
  print('Ingrese otros valores')

Enter the 1th number: 21
Enter the 2th number: 20
Enter the 3th number: 25
The average is:  22.0
Ingrese otros valores

In [ ]:
'''Given the salary of a worker, apply a 15% increase if his salary is less than $1000. Print the salary you will receive.'''
salary=float(input('Enter the salary: '))

if salary<1000 and salary>0:
  print('The salary is: ',salary*1.15)
elif salary>999:
  print('The salary is: ',salary)
else:
  print('The salary is wrong, check it please')

Enter the salary: 1500
The salary is:  1500.0

In [ ]:
'''You want to read a number between 0 and 10 (inclusive) from the keyboard and you want to see if the number is even or odd.'''

number=int(input('Enter the number: '))

if number%2==0:
  print('The number is even')
else: 
  print('The number is odd')

Enter the number: 6
The number is even

In [ ]:
'''
Construct an algorithm that, given three numbers, displays the message “EQUAL” if the sum of the first two 
is equal to the other number and the message “DIFFERENT” otherwise.'''

nota1=int(input('Enter the 1th number: '))
nota2=int(input('Enter the 2th number: '))
nota3=int(input('Enter the 3th number: '))

if nota1+nota2==nota3:
  print('IQUAL')
else:
  print('DIFFERENT')

Enter the 1th number: 3
Enter the 2th number: 3
Enter the 3th number: 5
DIFFERENT

In [ ]:
'''A stereo supplier offers a 10% discount on the price without tax, of any device if it costs $2000 or more. 
Also, regardless of this, it offers an additional 5% discount on the price if the brand is “NOSY”.
Determine how much a client will pay, including tax anyone for the purchase of your device. tax = 20%'''

brand=input('Enter the brand: ')
price=float(input('Enter the price: '))

if price>1999 and brand.upper()=='NOSY':
  NP=price*0.9*0.95
elif price>1999:
  NP=price*0.9
elif price<2000 and brand.upper()=='NOSY':
  NP=price*0.95
else:
  NP=price

print('The price includin taxes is: ',NP)

Enter the brand: nosy
Enter the price: 2000
The price includin taxes is:  1710.0

In [ ]:
'''Algorithm, which given a date in the year 2000 (represented by
the day, month and year in numeric format mm/dd/yyyy),
calculate the next day. Assume that the month has 30 days.'''

print('Enter the date:')
d=int(input('Enter the day: '))
m=int(input('Enter the month: '))
y=int(input('enter the year: '))

if d>0 and d<30:
  print('Tomorrow is: ',m,d+1,y)
else:
  if m>0 and m<12:
    print('Tomorrow is: ',m+1,1,y)
  else:
    print('Tomorrow is: ',1,1,y+1)

Enter the date:
Enter the day: 30
Enter the month: 12
enter the year: 2000
Tomorrow is:  1 1 2001

In [ ]:
'''Algorithm, which calculates the meeting time of 2 vehicles
that go in the opposite direction, taking as data the distance
initial distance that separates them and the speed of each one.'''

v1=float(input('Enter the velocity of car one (m/s): '))
v2=float(input('Enter the velocity of car two (m/s): '))
d1=float(input('Enter the distance between the cars  (m): '))

#d=v x t => t=d1/(v1+v2)

if v1+v2<0:
  print('The cars never get together')
else:
  t=d1/(v1+v2)
  print('The time is: ',t, ' seconds')

Enter the velocity of car one (m/s): 5
Enter the velocity of car two (m/s): -10
Enter the distance between the cars  (m): 20
The cars never get together

In [ ]:
'''A capital C is placed, at an interest rate I (ranging from 0 to 100), 
for M years and it is desired to know how much that capital will have been 
converted in "M" years, knowing that it is cumulative.'''

c=float(input('Enter the Capital: '))
i=float(input('Enter the anual interest in %: '))
m=int(input('Enter the years: '))

for n in range(m):
  c=c*(1+i/100)

print(c)

Enter the Capital: 1000
Enter the anual interest in %: 10
Enter the years: 5
1610.5100000000002

In [ ]:
'''Calculate the sum of the divisors of each number entered by keyboard. 
We will finish when the number entered is negative.'''


num=int(input('Enter the number: '))

sum=0

if (num>0):
  for c in range(1,num+1):
    if num%c==0:
      sum=sum+c
  print('The addition is: ',sum)
else:
  print('Enter a number above zero')

Enter the number: 4
The addition is:  7

In [ ]:
'''What and how many are the prime numbers between 1 and 1000?'''
num=1
sum=0
counter=0
while num<1000:
  for c in range(1,num+1):
    if num%c==0:
      sum=sum+c
  #print(num,sum)
  if sum==num+1:
    #print(num, ' Is Prime')
    counter+=1
    
  sum=0
  num+=1
print('There are : ',counter,' prime numbers between 1 and 1000')

There are :  168  prime numbers between 1 and 1000

In [ ]:
#Constantes 
primero = 1 
limite = 1000 
#Inicializando 
Cont = 0 
#Proceso 
for i in range(primero, limite): 
  primo = True 
  j = 2 
  while (i > j) and (primo == True): 
    if i%j == 0 : 
      #como no se considerá el Número(i) y el 1 
      #Si otro numero divide a i entonces ya tendría 
      # tres divisores. por lo tanto, no es primo 
      primo = False 
      break #Por tal motivo se rompe el ciclo 
    else: 
      j = j + 1 
  if primo == True : 
    #print(i, "es primo.") 
    Cont = Cont + 1 
#Salida 
print("\nSALIDA: ") 
print("-------------------------------------------------------") 
print("Entre", primero, "y" , limite, "hay", Cont, "nº primos")

SALIDA:
-------------------------------------------------------
Entre 1 y 1000 hay 169 nº primos

In [ ]:
#factorial
'''Since the value of  the following sum:
e = 1 + x+x2/2! + x3/3! + ….. + xn/n!'''

e=1
x=int(input('Enter x'))
factorial=1

for i in range(1,x+1):
    factorial=factorial*i
    e=e+x**i/factorial

print(factorial)
print(e)

Enter x5
120
91.41666666666667

In [ ]:
a1=1
a2=0
an=a1+(2*a2)
cont=0

while an<300:
  a2=a1
  a1=an
  an=a1+(2+a2)
  cont=cont+1

print('El rango es: ',cont,' y el resultado es: ',an)

El rango es:  10  y el resultado es:  430

In [ ]:
'''Enter by keyboard 100 integers and calculate how many
of them are pairs. The result is printed.'''


x=int(input('Enter the quantity of numbers to analize: '))

arr=[]
for i in range(1,x+1):
  num=int(input('Enter a number: '))
  if num%2==0:
    arr.append(num)

print('The pair numbers are: ')
for i in arr:
  print(i)

Enter the quantity of numbers to analize: 1
Enter a number: 5
The pair numbers are:

In [ ]:
'''Write an algorithm that prints the first 10 numbers
pairs starting at 2 and also print their respective
cubes. For example: 2 – 8 ; 4-64; 6 – 216'''

num=1
print('the pair numbers and his cubes are: ')
quantity=20


while num<quantity:
   num=num+1
   if num%2==0:
    print(num,' - ',num**3)

the pair numbers and his cubes are:
2  -  8
4  -  64
6  -  216
8  -  512
10  -  1000
12  -  1728
14  -  2744
16  -  4096
18  -  5832
20  -  8000

In [ ]:
'''Write an algorithm that prints the first 10 numbers
primes starting at 2 and also print their respective
cubes. For example: 2 – 8 ; 3-27; 5 –125'''

num=1
sum=0
counter=0
while counter<10:
  for c in range(1,num+1):
    if num%c==0:
      sum=sum+c
  #print(num,sum)
  if sum==num+1:
    print(num, ' Is Prime and its cube is: ', num**3)
    counter+=1
    
  sum=0
  num+=1

2  Is Prime and its cube is:  8
3  Is Prime and its cube is:  27
5  Is Prime and its cube is:  125
7  Is Prime and its cube is:  343
11  Is Prime and its cube is:  1331
13  Is Prime and its cube is:  2197
17  Is Prime and its cube is:  4913
19  Is Prime and its cube is:  6859
23  Is Prime and its cube is:  12167
29  Is Prime and its cube is:  24389

In [ ]:
'''Construct an algorithm that, given an input n, computes the
sum of the terms of an arithmetic progression such as
shown below: 10; 15; 20; 25; 30 …..Tn. This
es, your algorithm should calculate the value: 10 + 15 + 20 + 25 + 30
+ … + Tn.'''

begin=0
num=int(input('Enter the number of elements: '))
accumulator=0

for i in range(0,num):
  begin=begin+10+i*5

print('The addition is: ',begin)

Enter the number of elements: 4
The addition is:  70

In [ ]:
n=int(input('Enter the number of elements: '))
pair=0
odd=0
for i in range(1,n+1):
  if i%2==0:
    pair=pair-1/i
  else:
    odd=odd+1/i
total=odd+pair
print(total)

Enter the number of elements: 20
0.6687714031754277

In [ ]:
'''Write an algorithm such that given as data X numbers
integers, find the number of zeros between these
numbers. For example, if 6 data are entered: 9 0 4 8 0 1
The algorithm returns that there are 2 zeros.'''

q=int(input('How many numbers want to enter? '))
count=0
for i in range(0,q):
  num=int(input('Enter a number: '))
  if num==0:
    count=count+1

print('We have ',count,' zeros')

How many numbers want to enter? 5
Enter a number: 1
Enter a number: 2
Enter a number: 0
Enter a number: 0
Enter a number: 5
We have  2  zeros

In [ ]:
'''Create an algorithm, which given N entered integers
by keyboard determine which of them is the smallest and largest
respectively.'''

q=int(input('How many numbers are you gonna enter? '))
number=int(input('Enter a number:'))
minimun=number
maximun=number

for i in range(1,q):
  number=int(input('Enter a number:'))
  if number<minimun:
    minimun=number
  if number>maximun:
    maximun=number

print('The minimun is: ',minimun)
print('The maximun is: ',maximun)

How many numbers are you gonna enter? 4
Enter a number:5
Enter a number:3
Enter a number:9
Enter a number:5
The minimun is:  3
The maximun is:  9

In [ ]:
'''Enter X characters and indicate how many times the number 'a' is repeated.'''

number=int(input('Which number do you want to count: '))
quantity=int(input('Whow many numbers are you gonna enter: : '))
counter=0

for i in range(0,quantity):
  digit=int(input('Enter a number: '))
  if digit==number:
    counter=counter+1

print('Did you enter ',counter,' times the number ', number)

Which number do you want to count: 5
Whow many numbers are you gonna enter: : 10
Enter a number: 5
Enter a number: 5
Enter a number: 5
Enter a number: 6
Enter a number: 2
Enter a number: 8
Enter a number: 4
Enter a number: 9
Enter a number: 1
Enter a number: 6
Did you enter  3  timer the number  5

In [ ]:

'''Enter by keyboard x integers and calculate how many
of them are pairs. The result is printed.'''


quantity=int(input('Whow many numbers are you gonna enter: : '))
counter=0

for i in range(0,quantity):
  digit=int(input('Enter a number: '))
  if digit%2==0:
    counter=counter+1

print('Tere was  ',counter,' pairs')

Whow many numbers are you gonna enter: : 5
Enter a number: 8
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 1
Tere was   2  pairs

In [ ]:

'''Create a one-dimensional array or arrangement where you indicate the size 
by keyboard and create a function that fills the array or arrangement with the 
multiples of a number requested by keyboard. For example, if I define an array 
of size 5 and choose a 3 in the function, the array will contain 3, 6, 9, 12, 15. 
Display them on the screen using a different function.'''

size=int(input('Enter the size of the array: '))
multiple=int(input('Enter the multiple of the array: '))
array=[]

for i in range(1,size+1):
  array.append(i*multiple)

print(array)

Enter the size of the array: 9
Enter the multiple of the array: 2
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
'''Given the following array of numbers:
[1, 5, 8, 3, 30, 9, 13]
Programmatically print odd numbers greater than 3 to the screen.'''

arr=[1, 5, 8, 3, 30, 9, 13]
arr2=[]
for i in arr:
  if i>3:
    arr2.append(i)
    print(i)
print(arr2)

5
8
30
9
13
[5, 8, 30, 9, 13]

In [ ]:
'''Given the following notes stored in an array:
[20, 15, 12, 11, 8, 4, 1]
Delete the lowest note programmatically without using the (min) 
function and write to screen. Then programmatically calculate the 
grade point average minus the dropped grade.'''

arr=[20, 15, 12, 11, 8, 4, 1]
count=0
sum=0
for i in arr:
  a=arr[0]
  count=count+1
  sum=sum+i
  if i<a:
    a=i
  else:
    a=a

print(count)
print((sum-a)/(count-1))

7
11.666666666666666

In [13]:
'''A) Ask the user to enter numbers, which will be saved in a list. Finish by entering the number 0, which should not be saved.
B) Next, ask the user to enter a number, and if the number is in the list, delete their first issue. Show a message if it is not possible to delete.
C) Register the list to print the sum of all the elements.
D) Ask the user for another number and create a list with the elements of the original list that are less than the given number. Print this new list, 
iterating over it.
E) Generate and print a new list that contains tuples of two elements as elements, each one made up of a number from the original list and the 
number of times it appears in it. For example, if the original list is [5,16,2,5,57,5,2] the new list will 
contain: [(5,3), (16,1), (2,2), (57, 1)]'''

arr=[]


number=float(input('Enter a number for the array: '))

while number!=0:
  arr.append(number)
  number=float(input('Enter a number for the array: '))

print(arr)
print('**************************')

delete=float(input('Enter a number to delete: '))
if delete in arr:
  arr.remove(9)
else:
  delete=float(input('This number is not in the list, please enter another numner: '))

print(arr)
print('**************************')
sum=0
for i in arr:
  sum=sum+i

print('The addition of all elemente is: ',sum)
print('**************************')

maximun=float(input('Enter a number to be the maximun of the new array: '))
arr2=[]
for i in arr:
  if i<maximun:
    arr2.append(i)
print(arr2)
print('**************************')
arr3=[]
for i in arr:
  a=arr.count(i)
  (x,y)=(i,a)
  arr3.append((x,y))

print(arr3)

Enter a number for the array: 8
Enter a number for the array: 9
Enter a number for the array: 5
Enter a number for the array: 4
Enter a number for the array: 8
Enter a number for the array: 2
Enter a number for the array: 9
Enter a number for the array: 1
Enter a number for the array: 8
Enter a number for the array: 6
Enter a number for the array: 0
[8.0, 9.0, 5.0, 4.0, 8.0, 2.0, 9.0, 1.0, 8.0, 6.0]
**************************
Enter a number to delete: 1
[8.0, 5.0, 4.0, 8.0, 2.0, 9.0, 1.0, 8.0, 6.0]
**************************
The addition of all elemente is:  51.0
**************************
Enter a number to be the maximun of the new array: 8
[5.0, 4.0, 2.0, 1.0, 6.0]
**************************
[(8.0, 3), (5.0, 1), (4.0, 1), (8.0, 3), (2.0, 1), (9.0, 1), (1.0, 1), (8.0, 3), (6.0, 1)]

In [ ]:
'''Write a program that allows you to process travel passenger data in a list of tuples with the following form: (name, ID, destination). 
Example: [("Manuel Juarez", 19823451, "Liverpool"), ("Silvana Paredes", 22709128, "Buenos Aires"), ("Rosa Ortiz", 15123978, "Glasgow"), 
("Luciana Hernandez", 38981374 , "Lisboa")] 
In addition, in another list of tuples the data of each city and the country to which they belong are stored. 
Example: [("Buenos Aires","Argentina"), ("Glasgow","Scotland"), ("Lisbon", "Portugal"), ("Liverpool","England"), ("Madrid"," Spain")] 

Make an iterative menu that allows the user to perform the following operations:
-Add passengers to the list of travelers.
-Add cities to the list of cities.
-Given the ID of a passenger, see which city you are traveling to.
-Given a city, show the number of passengers traveling to that city.
-Given the ID of a passenger, see which country you are traveling to.
-Given a country, show how many passengers travel to that country.
-Exit the program.'''

In [ ]:
'''Prompt the user to enter the first names of primary level students in a school, ending by entering “x”. 
Next, request that you enter the names of the secondary level students, ending by entering “x”.
- Inform the names of all primary level students and those of secondary level, without repetitions.<>
- Inform which names are repeated among primary and secondary level students.
-Inform which names of primary level are not repeated in those of secondary level.'''

In [ ]:
'''Assume a list with data on the purchases made by customers of a company throughout a month, which contains tuples with information on each sale: (customer, day of the month, amount, customer address). Example:
[("Nuria Costa", 5, 12780.78, "Calle Las Flores 355"), ("Jorge Russo", 7, 699, "Mirasol 218"), ("Nuria Costa", 7, 532.90, "Calle Las Flores 355 "), ("Julián Rodriguez", 12, 5715.99, "La Mancha 761"), ("Jorge Russo", 15, 958, "Mirasol 218")]
Write a function that receives as a parameter a list with the format mentioned above and returns the addresses of each customer to whom a purchase invoice must be sent. Note that each customer may have made more than one purchase in the month, so the function must return a structure that contains each address only once.'''

In [ ]:
'''Write a program that processes strings entered by the user. Reading ends when 50 strings have been processed. When finished, inform the total number of occurrences of each character, in all the strings entered. Example: "r":5, "%":3, "a":8, "9":1.
How could the occurrences of only letters of the alphabet be reported, including the value 0 for letters that did not appear?'''

In [ ]:
'''Create a program to manage the data of the members of a club, allowing:
-Load member information into a dictionary to access by member number. The data to be stored are: number, name and surname, date of admission (ddmmyyyy), current quota (y/n). The program must start with the data of the founding partners already loaded:
Partner No. 1, Amanda Núñez, joined: 03/17/2009, daily fee.
Partner No. 2, Bárbara Molina, joined: 03/17/2009, daily fee.
Member no. 3, Lautaro Campos, joined: 03/17/2009, daily fee.
-Inform number of club members.
-Ask the user for a member's number and register that he has paid all due fees.
-Modify the entry date of all members entered on 03/13/2018, to indicate that they actually entered on 03/14/2018.
-Request the name and surname of a partner and unsubscribe (remove it from the list).
-Print the full membership list.'''

'''http://patriciaemiguel.com/ejercicios/python/2019/03/10/ejercicios-estructuras_datos-python.html'''