<a href="https://colab.research.google.com/github/omarcueto1304/Python-Practice/blob/master/practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''You want to calculate the distance traveled (m) by a mobile
which has constant velocity (m/s) for a time t (s),
consider that it is an MRU (Uniform Rectilinear Motion).'''

time=float(input('Enter the seconds: '))
velocity=float(input('enter speed in s/s: ' ))

Distance=time*velocity

print('la distancia es: ',Distance)

Enter the seconds: 5
enter speed in s/s: 5
la distancia es:  25.0

In [ ]:
'''
Exercise 2.
It is necessary to obtain the simple average of a student from his three partial marks N1, N2 and N3.'''

nota1=int(input('Enter the 1th number: '))
nota2=int(input('Enter the 2th number: '))
nota3=int(input('Enter the 3th number: '))

average=(nota1+nota2+nota3)/3

print('The average is: ',average)

Enter the 1th number: 15
Enter the 2th number: 5
Enter the 3th number: 85
The average is:  35.0

In [ ]:
'''Exercise 3.
It is necessary to develop an algorithm that requests the number of correct, 
incorrect and blank answers, corresponding to applicants, 
and shows their final score considering that for each correct answer they will have 3 points, 
incorrect answers will have -1 and blank answers will have 0.'''

CA=int(input('Enter the correct answers: '))
IA=int(input('Enter the incorrect answers: '))
BA=int(input('Enter the blanck answers: '))

FS=CA*3-IA+BA*0
print('the final score is: ',FS )

Enter the correct answers: 50
Enter the incorrect answers: 25
Enter the blanck answers: 25
the final scor is:  125

In [ ]:
switcher={
    1:'Ene',
    2:'Feb',
    3:'Mar',
    4:'Abr',
    5:'May',
    6:'Jun',
    7:'Jul',
    8:'Ago',
    9:'Sep',
    10:'Oct',
    11:'Nov',
    12:'Dic'
}

argument=int(input('Enter the number of the month: '))

month=switcher.get(argument,'Invalidate month')

print(month)

Enter the number of the month: 5
May

In [ ]:
'''
Exercise .
It is necessary to obtain the simple average of a student from his three partial marks N1, N2 and N3.
Build a flowchart, such that given a student's grade as data, write "approved" in case that grade is greater than 10.'''

nota1=int(input('Enter the 1th number: '))
nota2=int(input('Enter the 2th number: '))
nota3=int(input('Enter the 3th number: '))

average=(nota1+nota2+nota3)/3

print('The average is: ',average)
if average<11:
  print('DESAPROBADO')
elif average<21 and average>10:
  print('APROBADO')
else:
  print('Ingrese otros valores')

Enter the 1th number: 21
Enter the 2th number: 20
Enter the 3th number: 25
The average is:  22.0
Ingrese otros valores

In [ ]:
'''Given the salary of a worker, apply a 15% increase if his salary is less than $1000. Print the salary you will receive.'''
salary=float(input('Enter the salary: '))

if salary<1000 and salary>0:
  print('The salary is: ',salary*1.15)
elif salary>999:
  print('The salary is: ',salary)
else:
  print('The salary is wrong, check it please')

Enter the salary: 1500
The salary is:  1500.0

In [ ]:
'''You want to read a number between 0 and 10 (inclusive) from the keyboard and you want to see if the number is even or odd.'''

number=int(input('Enter the number: '))

if number%2==0:
  print('The number is even')
else: 
  print('The number is odd')

Enter the number: 6
The number is even

In [ ]:
'''
Construct an algorithm that, given three numbers, displays the message “EQUAL” if the sum of the first two 
is equal to the other number and the message “DIFFERENT” otherwise.'''

nota1=int(input('Enter the 1th number: '))
nota2=int(input('Enter the 2th number: '))
nota3=int(input('Enter the 3th number: '))

if nota1+nota2==nota3:
  print('IQUAL')
else:
  print('DIFFERENT')

Enter the 1th number: 3
Enter the 2th number: 3
Enter the 3th number: 5
DIFFERENT

In [ ]:
'''A stereo supplier offers a 10% discount on the price without tax, of any device if it costs $2000 or more. 
Also, regardless of this, it offers an additional 5% discount on the price if the brand is “NOSY”.
Determine how much a client will pay, including tax anyone for the purchase of your device. tax = 20%'''

brand=input('Enter the brand: ')
price=float(input('Enter the price: '))

if price>1999 and brand.upper()=='NOSY':
  NP=price*0.9*0.95
elif price>1999:
  NP=price*0.9
elif price<2000 and brand.upper()=='NOSY':
  NP=price*0.95
else:
  NP=price

print('The price includin taxes is: ',NP)

Enter the brand: nosy
Enter the price: 2000
The price includin taxes is:  1710.0

In [ ]:
'''Algorithm, which given a date in the year 2000 (represented by
the day, month and year in numeric format mm/dd/yyyy),
calculate the next day. Assume that the month has 30 days.'''

print('Enter the date:')
d=int(input('Enter the day: '))
m=int(input('Enter the month: '))
y=int(input('enter the year: '))

if d>0 and d<30:
  print('Tomorrow is: ',m,d+1,y)
else:
  if m>0 and m<12:
    print('Tomorrow is: ',m+1,1,y)
  else:
    print('Tomorrow is: ',1,1,y+1)

Enter the date:
Enter the day: 30
Enter the month: 12
enter the year: 2000
Tomorrow is:  1 1 2001

In [ ]:
'''Algorithm, which calculates the meeting time of 2 vehicles
that go in the opposite direction, taking as data the distance
initial distance that separates them and the speed of each one.'''

v1=float(input('Enter the velocity of car one (m/s): '))
v2=float(input('Enter the velocity of car two (m/s): '))
d1=float(input('Enter the distance between the cars  (m): '))

#d=v x t => t=d1/(v1+v2)

if v1+v2<0:
  print('The cars never get together')
else:
  t=d1/(v1+v2)
  print('The time is: ',t, ' seconds')

Enter the velocity of car one (m/s): 5
Enter the velocity of car two (m/s): -10
Enter the distance between the cars  (m): 20
The cars never get together

In [ ]:
'''A capital C is placed, at an interest rate I (ranging from 0 to 100), 
for M years and it is desired to know how much that capital will have been 
converted in "M" years, knowing that it is cumulative.'''

c=float(input('Enter the Capital: '))
i=float(input('Enter the anual interest in %: '))
m=int(input('Enter the years: '))

for n in range(m):
  c=c*(1+i/100)

print(c)

Enter the Capital: 1000
Enter the anual interest in %: 10
Enter the years: 5
1610.5100000000002

In [57]:
'''Calculate the sum of the divisors of each number entered by keyboard. 
We will finish when the number entered is negative.'''


num=int(input('Enter the number: '))

sum=0

if (num>0):
  for c in range(1,num+1):
    if num%c==0:
      sum=sum+c
  print('The addition is: ',sum)
else:
  print('Enter a number above zero')

Enter the number: 4
The addition is:  7

In [69]:
'''What and how many are the prime numbers between 1 and 1000?'''
num=1
sum=0
counter=0
while num<1000:
  for c in range(1,num+1):
    if num%c==0:
      sum=sum+c
  #print(num,sum)
  if sum==num+1:
    #print(num, ' Is Prime')
    counter+=1
    
  sum=0
  num+=1
print('There are : ',counter,' prime numbers between 1 and 1000')

There are :  168  prime numbers between 1 and 1000

In [77]:
#Constantes 
primero = 1 
limite = 1000 
#Inicializando 
Cont = 0 
#Proceso 
for i in range(primero, limite): 
  primo = True 
  j = 2 
  while (i > j) and (primo == True): 
    if i%j == 0 : 
      #como no se considerá el Número(i) y el 1 
      #Si otro numero divide a i entonces ya tendría 
      # tres divisores. por lo tanto, no es primo 
      primo = False 
      break #Por tal motivo se rompe el ciclo 
    else: 
      j = j + 1 
  if primo == True : 
    #print(i, "es primo.") 
    Cont = Cont + 1 
#Salida 
print("\nSALIDA: ") 
print("-------------------------------------------------------") 
print("Entre", primero, "y" , limite, "hay", Cont, "nº primos")

SALIDA:
-------------------------------------------------------
Entre 1 y 1000 hay 169 nº primos